h1,
h2,
h3 {
    color: sandybrown;
    
   
   
}

h4,
h5,
h6 {
    color: lightblue;
    
    
    
    
}

/* main container section */
/* ================================================== */
.main-container {
   
      background: repeat linear-gradient(to right, rebeccapurple, purple);
      background: repeat linear-gradient(to right, rebeccapurple, blueviolet);
      background: repeat linear-gradient(to right, blueviolet, rebeccapurple);
   }




.main-container .color:nth-child(1) {
   
    background: rebeccapurple;
    background: blueviolet;
    background: purple;
}

.main-container .color:nth-child(2) {
   
    background: rebeccapurple;
    background: blueviolet;
    background: slateblue;
    background: rebeccapurple;
    
}

.main-container .color:nth-child(3) {
   
    background: purple;
    background: blueviolet;
    background: rebeccapurple;
    background: lightcoral;
}

.main-container .color:nth-child(4) {
   
    background: purple;
    background: blueviolet;
    background: rebeccapurple;
    background: lightblue;
}



/* ================================================== */

/* wrapper section */
/* ================================================== */
.wrapper {
    
    background: rgba(255, 255, 255, 0.1);

}


/* ================================================== */

/* content section */
/* ================================================== */



/* registration section */
.registration-box {
   
    background: rgba(255, 255, 255, 0.1);
   
}


.form {
    
    background: repeat linear-gradient(90deg , transparent 50% , purple 50%);
    background: repeat linear-gradient(90deg , transparent 50% , rebeccapurple 50%);
}


.form h2 {
    
    color: #fff;
    

}

.form h2::before {

    background: #fff;
}



.form .inputbox input {
    
    background: rgba(255, 255, 255, 0.2);

    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form .inputbox input::placeholder {
    color: #fff;
}

.form .inputbox input[type="submit"] {
    background: #fff;
    color: #666;
    
}
/* ================================================== */





/* ================================================== */

/* speakers section */
/* ================================================== */
.speakers {
   
    background: rgba(255, 255, 255, 0.1);
   
}



.first-speaker h5,
.second-speaker h5,
.third-speaker h5 {
    color: sandybrown;
}

.first-speaker h5::after {
    
    color: lightblue;
}

.second-speaker h5::after {
   
    color: lightblue;
}

.third-speaker h5::after {
   
    color: lightblue;
}
/* ================================================== */


/* program section */
/* ================================================== */




.program-list h6 {
    color: #fff;
}
/* ================================================== */

/* partner section */

/* ================================================== */




/* social connect  */
.social-connect h5:nth-child(2) {
    color: sandybrown;
}

/* contact info  */


.contact-info h6:first-child {
    color: sandybrown;
}

.contact-info h6 {
    color: #fff;
}
/* ================================================== */


/* copyright section */
/* ================================================== */

.copyright-part {
   
    color: sandybrown;
    
    background: rgba(150, 0, 255, 0.2);
    border-top: 1px dashed rgba(255, 255, 255, 0.5);
}
/* ================================================== */
